@import '../styles/settings.scss';

.bad-possum-title {
  margin-top: 0;
}

.band-name {
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: center;
  margin-bottom: 5px;

  > span, h3 {
    margin-left: 10px;
  }

  @media screen and (min-width: $breakpoint-mobile) {
    flex-direction: row;
    margin-bottom: -10px;
  }
}

.videos {
  margin: 0 10%;
}

.video-padding {
  display: inline-block;
  width: 100%;

  @media screen and (min-width: $breakpoint-mobile) {
    width: 50%;
    margin: 0 auto;
  }
}

.hero {
  background-color: $black;
  border-radius: 15%;

  width: 100%;
  @media screen and (min-width: $breakpoint-mobile) {
    width: 50%;
    margin: 0 auto;
  }
}

.contact {
  text-align: center;

  @media screen and (min-width: $breakpoint-mobile) {
    width: 70%;
    margin: 0 auto;
  }
}

.name {
  font-family: $font-family-2;
}

.video-container {
  position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
  height: 0;

  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.img-disco {
  min-width: 50%;
}

.disc {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-mobile) {
    flex-direction: row;
  }
}

.disc-description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 20px 20px;

  .tracks {
    margin-bottom: 20px;

    .track {
      font-size: 1rem;
      line-height: 1.4em;
      font-weight: bold;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  .instructions {
    margin-bottom: 20px;
  }
}

.audioPlayer {
  audio {
    width: 150px;
    height: 20px;
  }
}

.album-title {
  font-size: 3rem;
  margin-bottom: 15px;
  color: $action;
  font-weight: bold;
}