@import '../../styles/settings.scss';
.c-concerts {
  a {
    margin-left: 10px;
    text-decoration: none;
    color: $primary;

    &:hover {
      color: $blue;
    }
  }

  .past-concerts {
    margin-top: 4rem;
  }

  .concert {
    margin-bottom: 10px;
  }
}