@import '../../styles/settings.scss';
.c-header {
  background-color: black;
  min-height: $nav-height;

  @media screen and (min-width: 760px) {
    min-height: $nav-height - 30px;
  }

  .logo-container {
    position: relative;
    padding: 20px 20px 0;

    @media screen and (min-width: 760px) {
      position: absolute;
      width: 30%;
    }
  }

  .logo {
    border-radius: 15%;

    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 760px) {
      width: 70%;
      margin: initial;
    }
  }

  .menu-container {
    display: block;
    @media screen and (min-width: 760px) {
      display: flex;
    }
  }

  .nav {
    position: relative;
    width: 70%;
    margin: 0 auto;
    z-index: $over-all;

    @media screen and (min-width: 760px) {
      position: absolute;
      top: 25px;
      right: 20px;
      width: initial;
    }

    .nav-list {
      list-style: none;
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      a {
        text-decoration: none;
        color: $white;
        font-family: $font-family-2;
        text-transform: uppercase;

        &:not(:first-child) {
          margin-left: 20px;
        }

        > li {
          color: $white;
          font-weight: bold;
          padding-top: 2px;
          font-size: 1.1rem;
          @media screen and (min-width: 760px) {
            font-size: 0.9rem;
          }

          &:hover {
            color: $action;
          }
        }
      }
    }
  }


  .social-link {
    &:first-child {
      margin-right: 10px;
    }

    img {
      width: 25px;
      border-radius: 15%;
    }
  }
}