@import '../styles/settings.scss';

.logo-container {
  position: relative;
  padding: 20px;

  @media screen and (min-width: 760px) {
    position: absolute;
    top: 30px;
    left: 30px;
    min-width: 500px;
    height: 500px;
  }
}

.logo {
  border-radius: 15%;

  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: 760px) {
    width: 70%;
    margin: initial;
  }
}
.nav {
  margin-top: 20px;
  .nav-list {
    list-style: none;
    text-align: center;

    > li {
      display: inline;
      font-family: $font-family-2;
      color: $white;
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: bold;

      &:not(:first-child) {
        margin-left: 20px;
      }
    }
  }
}