@import '../../styles/settings.scss';

.c-section {
  color: white;
  background-color: black;
  padding: 40px 0;

  &:nth-child(even) {
    background-color: $primary;
    color: $black;
  }

  &.color-red {
    background-color: $action;
  }

  &.color-white {
    background-color: white;
  }

  &.color-brown {
    background-color: $primary;
    color: $black;
  }

  &.color-black {
    background-color: black;
    color: $white;
  }
}